*{
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  color: black;
}

/* Navigation Section Styling Start */

.navigation_bar{
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1300px;
  margin: auto;
  padding: 0 30px;
}

.navigation_bar ul{
  display: flex;
  align-items: center;
}

.navigation_bar .left-logo h1{
  text-transform: uppercase;
  padding: 15px 0;
  color: black;
}

.navigation_bar ul li{
  padding: 8px;
  text-transform: uppercase;
}

.navigation_bar ul li a{
  color: black;
  font-size: 20px;
  font-weight: 600;
}

/* Navigation Section Styling End */

/* Banner section styling start */


.padd-30{
  padding-left: 30px;
  padding-right: 30px;
}

.container{
  background-color: red;
  max-width: 1300px;
  margin: auto;
}




/* Banner section styling end */



/* Responsive for screens <= 425px */
@media (max-width:425px){
  .right-nav ul li a.active{
    display: none;
  }
  .right-nav ul li{
    display: block;
    top: 80px;
  }
}